<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multipz.advohub">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignInUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AdvocateDiaryActivity" />
        <activity android:name=".activity.DictionaryDetailActivity" />
        <activity android:name=".activity.DictionaryActivity" />
        <activity android:name=".activity.ChatAdvocateActivity" />
        <activity android:name=".activity.SelectUserActivity" />
        <activity android:name=".activity.HighCourtActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.NotificationAcceptActivity" />
        <activity android:name=".activity.ReportActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ActivityMenu" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.AddDetailActivity" />
        <activity
            android:name=".User.UserDrawerActivity"
            android:label="@string/title_activity_user_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".User.SearchAdvocateActivity" />
        <activity android:name=".User.SearchAdvocateDetailActivity" />
        <activity android:name=".User.SendLawyerRequesrtActivity" />
        <activity android:name=".User.UserRegistrationActivity" />
        <activity android:name=".User.BookMarkActivity" />
        <activity android:name=".User.CaseListActivity" />
        <activity android:name=".User.PostCasesActivity" />
        <activity android:name=".activity.ChatWindowActivity" />
        <activity android:name=".User.AskQuestionActivity" />
        <activity android:name=".User.AsignCaseLawyerActivity" />
        <activity android:name=".User.PostCaseActivity" />
        <activity android:name=".User.UserFeedbackActivity"></activity>
    </application>

</manifest>